{% extends "base.html" %}
{% block title %}Serverless Store{% endblock %}
{% block content %}
  <section class="hero is-primary is-bold is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="logo" style="float:left; padding-right:30px;"><img style="width:150px; height:150px;" src="https://storage.googleapis.com/soft-serverless/store-logo.png" alt="Store logo"></div>
        <h1 class="title">Soft Serve<span style="color:#007acc;">rless</span> Ice Cream Shop</h1>
        <h2 class="subtitle">The original cold start to your day.</h2>
        <div>A one-stop shop for ice cream that's TRULY serve-rless, light as the cloud, and fits every function.</div>
      </div>
    </div>
  </section>
  {% if promos %}
  <section class="section">
    {% include "parts/product_catalog_promo.html" %}
  </section>
  {% endif %}
  <section class="section">
    {% include "parts/product_catalog_whatsnew.html" %}
  </section>
{% endblock %}